<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corn.redpacket.dao.RedTradeOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.corn.redpacket.model.RedTradeOrder">
        <id column="ID" property="id" />
        <result column="SELF_USER_ID" property="selfUserId" />
        <result column="OPPOSITE_USER_ID" property="oppositeUserId" />
        <result column="MERCHANT_ORDER_NO" property="merchantOrderNo" />
        <result column="AMOUNT" property="amount" />
        <result column="STATUS" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SELF_USER_ID, OPPOSITE_USER_ID, MERCHANT_ORDER_NO, AMOUNT, STATUS
    </sql>

    <update id="updateTradeOrderStatus">
        UPDATE red_trade_order t
        SET t.`STATUS` = #{status}
        WHERE
            t.MERCHANT_ORDER_NO = #{orderId}
    </update>

</mapper>
